.well {
  margin-top: 10px;
}

.col-md-12 {
  text-align: center;
}

figure {
  background-color: #fff;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 20px;
}

ul {
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
}


